legend{
    font-size:24px;
    margin-left:70px;
}

.labIn{
    margin-bottom:5px;
}

fieldset
{
    position: relative;
    display: flex;
}

#minV{
    margin-left:16px;
}
#maxV{
    margin-left:13px;
}
#count{
    margin-left:40px;
}

#btnCalc{
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
    margin-left:13px;
}
#btnOutput{
    padding-left:30px;
    padding-right:30px;   
}
#out{
    display: inline-block;
    /* position:absolute;
    margin-left:150px;
    margin-top: 125px; */
}
#div
{
    display: inline-block;
}
#div, #out
{
    margin-top: 5px;
    height: 200px;
    width: 400px;
}